<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a> 

    <div>
        <h3> <%= articles.title %> </h3>
        <p> <%= articles.desc %></p>
        <p><%= articles.create_at %></p>
       
    </div>

    <a href="/updatte-article/<%= article._id %>">Edit</a> 
</body>
</html>